@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "Fredoka";
}

html {
    scroll-behavior: smooth;
}

.header {
    position: relative;
    display: flex;
    background-color: rgba(0, 255, 0, 0.14);
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 6px 6px rgba(0, 255, 0, 0.14);
    z-index: 10;
}

.header .container {
    padding-left: 40px;
    padding-right: 60px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header .container img {
    width: 70px;
    height: 70px;
}

.container .navbar {
    display: flex;
    width: 600px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.container .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 100%;
    color: #35b341;
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}

.container .opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    min-width: 350px;
    color: #35b341;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.opcao{
    display: inline-block;
    transition: transform 0.5s ease;
    text-decoration: none;
    color: #35b341;
}

.opcao:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.container .botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    min-width: 220px;
    padding-left: 20px;
}

.botoes button {
    width: 100px;
    height: 30px;
    border: 0px solid;
    border-radius: 15px;
    background-color: #35b341;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Fredoka";
    transition: transform 0.5s ease;
}

.botoes button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #002000, #004507);
}

.home {
    width: 100%;
    height: 2160px;
}

.home .container-welcome {
    position: absolute;
    top: 0;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('../images/background-home-welcome.png');
    background-position: center;
}

.container-welcome .conteudo {
    display: flex;
    width: 1000px;
    height: 116px;
    min-width: 1000px;
    min-height: 116px;
    flex-direction: column;
    align-items: center;
}

.container-welcome .conteudo span {
    color: rgb(220, 220, 220);
    font-size: 60px;
    font-weight: bold;
}

.container-welcome .conteudo a {
    color: rgb(180, 180, 180);
    font-size: 36px;
}

.container-welcome .conteudo b {
    color: rgb(220, 220, 220);
}

.container-nossos-servicos {
    display: flex;
    top: 650px;
    position: relative;
    width: 100%;
    height: 800px;
    background: linear-gradient(to right, #005f0a, #00690b);
}

.container-nossos-servicos .moldura {
    background: url("../images/pintura-automotiva.png");
    height: 400px;
    width: 600px;
    min-height: 400px;
    min-width: 600px;
    margin-top: 160px;
    margin-left: 40px;
    background-position: center;
    background-size: contain;
    border: 10px solid rgb(220, 220, 220);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.container-nossos-servicos .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    gap: 90px;
    width: 650px;
    height: 500px;
    min-width: 650px;
    min-height: 500px;
}

.container-nossos-servicos .conteudo span {
    font-size: 60px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}

.container-nossos-servicos .conteudo a {
    font-size: 30px;
    text-align: left;
    color: rgb(220, 220, 220);
}

.footer .container-conteudo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 600px;
}

.footer .container-conteudo span {
    color:rgb(240, 240, 240);
    font-weight: bold;
    cursor: default;
}

.footer .container-conteudo a {
    color: rgb(240, 240, 240);
    text-decoration: underline;
    cursor: pointer;
}
